body {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}
/* efectos de las diferentes secciones del portafolio
*/

/* .infpersonal{
    box-shadow: 0px 0px 30px rgba(9, 183, 196, 0.4);
} */

.card1{
    box-shadow: 0px 0px 30px rgba(9, 183, 196, 0.4);
}

.card2{
    box-shadow: 0px 0px 30px rgba(9, 183, 196, 0.4);
}

.card3{
    box-shadow: 0px 0px 30px rgba(9, 183, 196, 0.4);
}

.card4{
    box-shadow: 0px 0px 30px rgba(9, 183, 196, 0.4);
}

.infpersonal:hover{
    box-shadow: 0px 0px 30px rgba(9, 183, 196, 0.7);
}


/* estilos de las tecnologias  */

.carousel {
    display: flex;
    overflow-x: auto;
    width: 100%;
    /* cursor: grab; */
}

/* .carousel:active{
    cursor: grabbing;
} */

.card {
    flex: 0 0 9em;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group{
    animation: spin 10s infinite linear;
    padding-right: 1em;
}

.carousel:hover .group{
    animation-play-state: paused;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}


/* ESTILO PARA LAS CHISPAS */

.sparkles-container{
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 1;
}

.sparkle{
    position: absolute;

    top: 20%;
    left: 30%;

    width: 13px;
    height: 13px;

    animation: twinkle 2s infinite;
}

.sparkle1{
    top: 10%;
    left: 20%;
    animation-duration: 2s;
    animation-delay: .5s;
}

.sparkle2{
    top: 30%;
    left: 80%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.sparkle3{
    top: 70%;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 1s;
}

.sparkle4{
    top: 50%;
    left: 50%;
    animation-duration: 3s;
    animation-delay: .5s;
}

.sparkle5{
    top: 80%;
    left: 70%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.sparkle6{
    top: 60%;
    left: 40%;
    animation-duration: 3s;
    animation-delay: .5s;
}

.sparkle7{
    top: 20%;
    left: 80%;
    animation-duration: 1.5s;
    animation-delay: 2s;
}

.sparkle8{
    top: 40%;
    left: 20%;
    animation-duration: 2s;
    animation-delay: .5s;;
}

.sparkle9{
    top: 60%;
    left: 80%;
    animation-duration: 1.5s;
    animation-delay: 1s;
}

.sparkle10{
    top: 80%;
    left: 20%;
    animation-duration: 3s;
    animation-delay: 2s;
}


.sparkle::before,
.sparkle::after{
    content: "";
    position: absolute;

    background: #3db395;
    box-shadow: 0 0 10px #3db395;
}

.sparkle::before{
    width: 2px;
    height: 100%;

    left: 50%;
    transform: translateX(-50%);
}

.sparkle::after{
    width: 100%;
    height: 2px;

    top: 50%;
    transform: translateY(-50%);
}

@keyframes twinkle{

    0%{
        opacity: 0;
        transform: scale(.5);
    }

    50%{
        opacity: 1;
        transform: scale(1);
    }

    100%{
        opacity: 0;
        transform: scale(.5);
    }

}
